body {
  margin: 0;
  font-family: 'baskerville-urw,Georgia,Times,Garamond,sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 60%;
  margin:20px auto;
  box-sizing: border-box;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.imgContainer{
  width: 100%;
  display: flex;
  justify-content: center;
}
img{
  width: 30%;
}

h1{
  text-align: center;
  margin: 32px 32px; 
  font-size:48px;
  font-style: italic;
  letter-spacing: -.05px;
}

h2, p{
  text-align: left;
  margin-bottom: 24px;
};

h2{
  font-size: 36px;
  line-height: 48px;
}

p{
  font-size: 16px;
}

ul{
  width: 100%;
  display: flex;
  margin-bottom: 32px;
}

ul div{
  width: 50%;
  margin-right: 24px;
}